*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
nav ul{
    display: flex;
}
ul li {
    list-style-type: none;
    margin: 20px;
    padding: 15px 15px;
    border: 1px solid white;
    border-radius:20px;
}
li{
    color: #0a9396;
    font-size: 20px;
}  
li:hover{
    color: white;
}  
a{
    text-decoration: none;
}

